.normal-title { text-align: center; width:520px; padding-left:20px;padding-right: 20px;  }

.normal-text { /* padding-left:20px;padding-right: 20px; */ text-align: center;width:560px;  }

.normal-text .bold { font-family: opensans-bold;  }



/*

.close-btn { position:absolute;right:20px;top:20px;z-index:999; }

.close-btn img { width:50px; }
            
.page-end-spacing { position:relative;height:100px; }

*/

.exercise1-lesson-btn { font-family: opensans-bold;color:#4A4A4A;padding-right: 10px;padding-left: 10px;border-radius: 13px;padding-top: 1px;padding-bottom: 2px; border:solid 1px rgba(0, 0, 0, 0.2); }

/*
.normal-title-extra { width:560px;text-align: center;  }

.normal-title-extra2 { font-family: opensans;color:#B7B7B7;background-color:#FFFFFF;padding-right: 6px;padding-left: 6px;border-radius: 3px;padding-top: 1px;  } 
*/

.normal-img { position:relative; margin-left: 0px; margin-top: 30px; margin-bottom: 30px; }

.normal-sub-img { position:relative; margin-left: 0px; margin-top: -28px; margin-bottom: 30px; }


.tip-basci-box { position:relative;width:520px;height:96px;display:flex;justify-content:center;align-items:center;background-color:#f6f6f6;border-radius: 8px;padding: 20px;text-align: center;margin-top: 30px; margin-bottom: 38px; box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2); } /* border:solid 1px #a4a4a4;color:#F0B341;
*/

.tip-basci-box.sub { margin-top: -28px; margin-bottom: 38px;}



.alert-box { position:relative;font-family: opensans;margin: 0px;margin-top: 40px;margin-bottom: 40px;padding: 20px;padding-top: 0px;padding-bottom: 0px;color:#4A4A4A;border-radius: 8px;font-size: 18px;text-align: justify; }

.alert-italic-text { color:#4A4A4A;font-family: opensans-lightitalic; }

.alert-bold-text { color:#4A4A4A;font-family: opensans-bold; }

.alert-char-text { font-family: opensans;color:#4A4A4A;background-color: white;padding-right: 6px;padding-left: 6px;border-radius: 3px;padding-top: 1px; border:solid 1px #4A4A4A; }

.alert-centered-bold-title { display: block;color:#4A4A4A; font-family: roboto-bold;font-size:18px; text-align: center;padding-top: 20px}