/*

.sheader-top {
    position:relative;height:50px;width: 100%; background-color: #F6F6F6;border-bottom: solid 2px #141414; 
}

.sheader-bottom {
    position:relative;height: 70px;width: 100%; background-color: #F6F6F6;border-top: solid 2px #E5E5E5; 
}

.sheader-icon { position:absolute;top:0px; }

.sheader-icon-txt { position:absolute;top:20px;font-family: roboto;font-size:12px;color:#FFFFFF;opacity: 0.95; }

.sproject-title { display:flex;justify-content:center;padding-top: 19px; font-family: roboto;font-size:14px;color:#FFFFFF;opacity: 0.9; } */

/* .right-top-btn { position:absolute;right:20px;top:20px;z-index: 99999; }; */


.project-title-box {margin-bottom: -46px;margin-top: -1px; }
            
.project-title {position: absolute;top:10px;left:20px;font-family: roboto;font-size: 18px;opacity: 0.4;color:#FFFFFF;}

.project-close-btn { position: absolute;top:0px;right: 0px;width: 60px;height: 40px; }

.video-btn { position:absolute;right:74px;top:20px;z-index:999; }

.video-btn img { height:40px; }