/* background-color:#F3F5EA; game-background:#55877E; color:#4A4A4A; */

.colored-background { background-color:#FFFFFF; color:#4A4A4A; }

#app-cont { background-color: #FFFFFF; /* background-image: url("../img/pattern1.webp");
  background-repeat: repeat; */ }

.normal-text-group { color: #4A4A4A; }

.normal-title { color: #4A4A4A; }

.normal-text { color: #4A4A4A; }

.normal-bold-text { color: #4A4A4A; background-color: rgba(0, 0, 0, 0.1); }

.normal-bold-text2 { font-family: opensans-bold; color:#4A4A4A; }

.alert-box { color: #4A4A4A; }

.alert-centered-bold-title { color: #4A4A4A; }

.tip-basci-box { background-color:#ffffff; color:#4A4A4A;  }

.btn-centered-item-cont { display:flex;justify-content:center;align-items:center;height: 28px;margin-bottom: 20px;margin-top: 40px; }

/* KULLANILMIYOR */
.blackbtn-button { position: relative; width: auto; margin-right: 10px; margin-left: 10px; font-family: opensans;padding: 12px; font-size: 20px;padding-bottom: 10px;padding-right: 20px;padding-left: 20px; /* box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1); */ opacity:0.97;color:#FFFFFF;border: solid 0px #FFFFFF;background-color: rgba(0, 0, 0, 0.9);border-radius: 13.5px; }

.btn-reset-code {
    text-align: center;
    padding: 40px;
    padding-top: 0px;
    color: #333;
}